.cancel-button-container{
  justify-content: center;
  margin-top:22px;
  display: flex

}

.cancel-button{
  background: none ;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;   
    color: rgb(151, 151, 151);
    font-family: Graphik;
    font-size: 17px;
    line-height: 19px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
  
}