.carousel-close{
    width: 30px;
    height: 30px;
    position: absolute;
    right:10px;
    top: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    
}

/* .carousel-close:after{
  content: "X";
  font-weight: bold;
  font-family: Graphik;
  font-size: 20px;
  z-index: 1;
} */