.CompanyChat{
  background-color: #f1f0f0;
  border-radius: 20px;
  max-width: 70%;
  margin-top: 13px;
  margin-left: 13px;
  display: block;
  padding-left:10px;
  padding-right: 10px;
  align-self: flex-start;
  width: fit-content;
  overflow: hidden;
}
.CompanyChat.displaying{
  height: 40px;
}
.CompanyChat p{
    color: #222222;
  font-family: Graphik;
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0px;
  margin: 0px;

}
.CompanyChatContainer.loading{
  width: 32px;
  /* height: 40px;  */
}
.CompanyChatContainer{
  transition: all 0.5s;
  width: 100%; 
}