.done-button{
 background:  linear-gradient(90deg,#00baff,#0084ff)  ;
    display: inline-block;
    border: 1px solid;
    padding: 1rem 2rem;   
    color: #ffffff;
    font-family: Graphik;
    font-size: 17px;
    line-height: 19px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    border-radius: 60px;
   

 
}

.done-button:disabled{
    background: rgb(151, 151, 151);

}

.done-button-container{
  
      display:flex;
    justify-content: center;
    margin-top: 35px;
   

}