.event-message-container{
  flex-direction: row;
  margin-left: 13px;
  margin-right: 13px; 
  display: flex;
  justify-content: center;
  margin-top: 17px;
  cursor:pointer
}

.event-message{
 font-family: Graphik;
  font-size: 17px;
  text-align: center;
  color: rgb(31, 31,31);
  margin-top:auto;
  font-weight: 400;
  flex-grow: 1
}
.event-message-line1{
  flex-grow: 1;
  border-top: 1px solid rgb(132, 132, 132);
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
}

.event-message-line2{
  flex-grow: 1;
  border-top: 1px solid rgb(132, 132, 132);
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
}