.form-input-area{
   
    border-radius: 10px;
    height: 53px;
    background-color: #f1f1f1;
    color: #838383;
    font-family: Graphik;
    font-size: 17px;
    line-height: 19px;
    border: none;
    width: 100%;
    padding-left: 20px

}


