
.FormContainer{
     
   max-width: 90%;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    margin: -15px auto;
    bottom:0;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px rgb(214, 210, 210);
    padding-top: 50px;
    animation: move-in-steps 0.3s;
}

.FormContainer-container{
   display: flex;
    flex-direction: column; 
  
}

.formOut{
animation: move-out-steps 0.5s
}

@keyframes move-out-steps {
  0% {
    opacity: 1;
    transform: translateY(0px);
    
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

@keyframes move-in-steps {
  0% {
    opacity: 0;
    transform: translateY(80px);
   
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}