
.Header{
 width: 100%;
    /* height: 100px; */
    border-bottom: 2px solid #d9d9d9;
    
    background: #f9f9f9;
    /* line-height: 33px; */
    display: flex;
    /* position: absolute; */
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    position: fixed
   

  
}