.HeaderContainer{
  display: inline-flex;
    /* max-width: 950px; */
    /* margin: auto; */
    align-items: center;
    /* flex-direction: column; */
    /* justify-content: center; */
   
    position: fixed;
    /* margin-bottom: 200px; */
    width: 100%;
    margin-left: 200px;

 
}