.ProductOptionDetails-container{
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  /* z-index: 1; */
  margin-top: -10px;
  border-bottom: 2px solid #f1f0f0;
  border-right: 2px solid #f1f0f0;
  border-left: 2px solid #f1f0f0;
}

.ProductOptionDetails{
  font-family: Graphik;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color:black
}

.ProductOptionDetails:visited{
  font-family: Graphik;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color:black

}