
.ProductOption-container{
  max-width: 277.891px;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-top: 13px;
  justify-content: flex-start;
  cursor: pointer;
  /* border-top:1px solid black  */
  /* animation: move-side 0.5s */
}

