.product-description{
       font-family: Graphik;
    color: #626262;
    margin-left: 24px;
    margin-right: 70px;
    margin-top: 18px;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px
  }