.product-title{
      font-family: Graphik;
    color: black;
    margin-left: 24px;
    margin-top: 18px;
    font-size: 25px;
    font-weight: 500;
    line-height: 27px;
    /* text-align: left; */
    display: flex;
    justify-content: flex-start;
    width: 100%;
}