.ProductOptionTitle-container{
 background-image: linear-gradient(to bottom,transparent, rgb(92, 90, 90));
 /* border-radius: 10px; */
 margin-top: -80px;
 padding-top: 20px;

}
.ProductOptionTitle{
  color:white;
  font-family: Graphik;
  margin-left: 13px;

}