.color-availability-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 24px;
  margin-top: 13px
}

.color-availability{
  border-radius: 50px;
  width: 30px;
 height: 30px;
 margin-left: 8px;
  /* background-color: pink */

}

.color-availability-text{
  font-size: 17px;
  line-height: 20px;
  font-family: Graphik;
  font-weight: 500;
  color: rgb(27, 27, 27)
}