.product-description-container{
   display: flex;
  /* max-width: 950px; */
  margin: auto;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: aquamarine; */
  width: 100%;
  
}