.product-discount-price{
   font-family: Graphik;
  color:rgb(160, 159, 159);
  margin-right: 24px;
  margin-top: 18px;  
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-decoration: line-through

}