.product-availability{
    font-family: Graphik;
    color: rgb(23, 23, 23);
    margin-left: 24px;
    margin-top: 36px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    /* text-align: left; */
    display: flex;
    justify-content: flex-start;
    width: 100%;
}