.UserChat{
  background:  linear-gradient(90deg,#00baff,#0084ff); ;
  border-radius: 20px;
  min-width: 13px;
  max-width: 70%;
  margin-top: 13px;
  margin-right: 13px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  align-self: flex-end;
  animation: move-up 1s;
}
.UserChat p{
    color: white;
  font-family: Graphik;
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0px;
 margin: 10px 10px 10px 10px;

}

@keyframes move-up {
  0% {
    opacity: 0;
    transform: translateY(0px);
   
  }
  100% {
    opacity: 1;
    /* transform: translateY(100px); */
  }
}