.user-button{
 background:  linear-gradient(to right,#0F2027,#203A43,#2C5364)  ;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;   
    color: #ffffff;
    font-family: Graphik;
    font-size: 17px;
    line-height: 19px;
    cursor: pointer;
    text-align: center;
    box-shadow: #bdc3c7 1px;
    /* transition: background 250ms ease-in-out; */
    border-radius: 20px;
    position: fixed;
    bottom: 10px;
    width: 90%;
    animation: move-in-steps 0.3s;
   

 
}

.user-button-container{  
  display: flex;
  justify-content: center;
  margin-top:35px

}

@keyframes move-in-steps {
  0% {
    opacity: 0;
    transform: translateY(90px);
   
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}