.address-form-container{
  display: contents
}


.form-out{
animation: move-out-steps 0.4s
}

@keyframes move-out-steps {
  0% {
    opacity: 1;
    transform: translateY(0px);
    
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

