.input-credit-card{
    border-radius: 10px !important;
    height: 43px;
    background-color: #f1f1f1 !important;
    color: #838383;
    font-family: Graphik;
    font-size: 17px;
    line-height: 19px;
    border: none;
  width:calc(100% - 20px)!important;

   
}

.input-credit-card-container{
  width:calc(100% - 35px);
    padding: 5px 10px 5px 15px;
    display: flex
}

.ciTvcc{
  display: none
}


/* .sc-bxivhb{
  background-color: rgb(241 241 241);
    color: rgb(131 131 131);
    font-family: Graphik;
    font-size: 17px;
    line-height: 19px;
} */

.credit-card-input{
   border-radius: 10px;
    height: 43px;
    background-color: #f1f1f1;
    color: #838383;
    font-family: Graphik;
    font-size: 17px;
    line-height: 19px;
    border: none;
     width:calc(100% - 35px);

    padding: 5px 10px 5px 15px;
    display: flex;
}