.Product-option-container-link{
  text-decoration: none;
  animation: move-side 0.2s;
}
.Product-option-container-link:visited{
  text-decoration: none;
  
}

@keyframes move-side {
  0% {
    opacity: 0;
    transform: translateX(-10px);
    
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}